[submodule "tpRigToolkit/tpRigToolkit-core"]
	path = tpRigToolkit/tpRigToolkit-core
	url = https://github.com/tpRigToolkit/tpRigToolkit-core
[submodule "tpRigToolkit/tpRigToolkit-dccs-maya"]
	path = tpRigToolkit/tpRigToolkit-dccs-maya
	url = https://github.com/tpRigToolkit/tpRigToolkit-dccs-maya.git
[submodule "tpRigToolkit/tpRigToolkit-tools-rigtoolbox"]
	path = tpRigToolkit/tpRigToolkit-tools-rigtoolbox
	url = https://github.com/tpRigToolkit/tpRigToolkit-tools-rigtoolbox.git
[submodule "tpRigToolkit/tpRigToolkit-tools-controlrig"]
	path = tpRigToolkit/tpRigToolkit-tools-controlrig
	url = https://github.com/tpRigToolkit/tpRigToolkit-tools-controlrig.git
[submodule "tpRigToolkit/tpRigToolkit-tools-symmesh"]
	path = tpRigToolkit/tpRigToolkit-tools-symmesh
	url = https://github.com/tpRigToolkit/tpRigToolkit-tools-symmesh.git
[submodule "tpRigToolkit/tpRigToolkit-tools-interpolateit"]
	path = tpRigToolkit/tpRigToolkit-tools-interpolateit
	url = https://github.com/tpRigToolkit/tpRigToolkit-tools-interpolateit.git
[submodule "tpRigToolkit/tpRigToolkit-libs-controlrig"]
	path = tpRigToolkit/tpRigToolkit-libs-controlrig
	url = https://github.com/tpRigToolkit/tpRigToolkit-libs-controlrig.git
[submodule "tpRigToolkit/tpRigToolkit-tools-jointorient"]
	path = tpRigToolkit/tpRigToolkit-tools-jointorient
	url = https://github.com/tpRigToolkit/tpRigToolkit-tools-jointorient.git
[submodule "tpRigToolkit/tpRigToolkit-config"]
	path = tpRigToolkit/tpRigToolkit-config
	url = https://github.com/tpRigToolkit/tpRigToolkit-config.git
[submodule "tpRigToolkit/tpRigToolkit-libs-spaceswitcher"]
	path = tpRigToolkit/tpRigToolkit-libs-spaceswitcher
	url = https://github.com/tpRigToolkit/tpRigToolkit-libs-spaceswitcher.git
[submodule "tpRigToolkit//tpRigToolkit/tpRigToolkit-libs-ziva"]
	path = tpRigToolkit//tpRigToolkit/tpRigToolkit-libs-ziva
	url = https://github.com/tpRigToolkit/tpRigToolkit-libs-ziva.git
[submodule "tpRigToolkit/tpRigToolkit-libs-ziva"]
	path = tpRigToolkit/tpRigToolkit-libs-ziva
	url = https://github.com/tpRigToolkit/tpRigToolkit-libs-ziva.git
[submodule "tpRigToolkit/tpRigToolkit-tools-musclespline"]
	path = tpRigToolkit/tpRigToolkit-tools-musclespline
	url = https://github.com/tpRigToolkit/tpRigToolkit-tools-musclespline.git
[submodule "tpDcc/tpDcc-core"]
	path = tpDcc/tpDcc-core
	url = https://github.com/tpDcc/tpDcc-core.git
[submodule "tpDcc/tpDcc-libs-python"]
	path = tpDcc/tpDcc-libs-python
	url = https://github.com/tpDcc/tpDcc-libs-python.git
[submodule "tpDcc/tpDcc-libs-qt"]
	path = tpDcc/tpDcc-libs-qt
	url = https://github.com/tpDcc/tpDcc-libs-qt.git
[submodule "tpDcc/tpDcc-dccs-maya"]
	path = tpDcc/tpDcc-dccs-maya
	url = https://github.com/tpDcc/tpDcc-dccs-maya.git
[submodule "tpDcc/tpDcc-dccs-houdini"]
	path = tpDcc/tpDcc-dccs-houdini
	url = https://github.com/tpDcc/tpDcc-dccs-houdini.git
[submodule "tpDcc/tpDcc-dccs-unreal"]
	path = tpDcc/tpDcc-dccs-unreal
	url = https://github.com/tpDcc/tpDcc-dccs-unreal.git
[submodule "tpDcc/tpDcc-dccs-mobu"]
	path = tpDcc/tpDcc-dccs-mobu
	url = https://github.com/tpDcc/tpDcc-dccs-mobu.git
[submodule "tpDcc/tpDcc-libs-curves"]
	path = tpDcc/tpDcc-libs-curves
	url = https://github.com/tpDcc/tpDcc-libs-curves.git
[submodule "tpDcc/tpDcc-libs-resources"]
	path = tpDcc/tpDcc-libs-resources
	url = https://github.com/tpDcc/tpDcc-libs-resources.git
[submodule "tpDcc/tpDcc-tools-unittests"]
	path = tpDcc/tpDcc-tools-unittests
	url = https://github.com/tpDcc/tpDcc-tools-unittests.git
[submodule "tpDcc/tpDcc-tools-nameit"]
	path = tpDcc/tpDcc-tools-nameit
	url = https://github.com/tpDcc/tpDcc-tools-nameit.git
[submodule "tpDcc/tpDcc-tools-scripteditor"]
	path = tpDcc/tpDcc-tools-scripteditor
	url = https://github.com/tpDcc/tpDcc-tools-scripteditor.git
[submodule "tpDcc/tpDcc-tools-renamer"]
	path = tpDcc/tpDcc-tools-renamer
	url = https://github.com/tpDcc/tpDcc-tools-renamer.git
[submodule "tpDcc/tpDcc-tools-datalibrary"]
	path = tpDcc/tpDcc-tools-datalibrary
	url = https://github.com/tpDcc/tpDcc-tools-datalibrary.git
[submodule "tpDcc/tpDcc-libs-unittests"]
	path = tpDcc/tpDcc-libs-unittests
	url = https://github.com/tpDcc/tpDcc-libs-unittests.git
[submodule "tpDcc/tpDcc-plugins-maya-helloworld"]
	path = tpDcc/tpDcc-plugins-maya-helloworld
	url = https://github.com/tpDcc/tpDcc-plugins-maya-helloworld.git
[submodule "tpDcc/tpDcc-libs-datalibrary"]
	path = tpDcc/tpDcc-libs-datalibrary
	url = https://github.com/tpDcc/tpDcc-libs-datalibrary.git
[submodule "tpDcc/tpDcc-libs-options"]
	path = tpDcc/tpDcc-libs-options
	url = https://github.com/tpDcc/tpDcc-libs-options.git
[submodule "tpDcc/tpDcc-libs-nameit"]
	path = tpDcc/tpDcc-libs-nameit
	url = https://github.com/tpDcc/tpDcc-libs-nameit.git
[submodule "tpDcc/tpDcc-dccs-max"]
	path = tpDcc/tpDcc-dccs-max
	url = https://github.com/tpDcc/tpDcc-dccs-max.git
[submodule "tpDcc/tpDcc-config"]
	path = tpDcc/tpDcc-config
	url = https://github.com/tpDcc/tpDcc-config.git
