# tpDcc
-e ./tpDcc/tpDcc-config
-e ./tpDcc/tpDcc-libs-python
-e ./tpDcc/tpDcc-core
-e ./tpDcc/tpDcc-libs-resources
-e ./tpDcc/tpDcc-libs-qt
-e ./tpDcc/tpDcc-dccs-maya
-e ./tpDcc/tpDcc-dccs-max
-e ./tpDcc/tpDcc-dccs-mobu
-e ./tpDcc/tpDcc-dccs-unreal
-e ./tpDcc/tpDcc-libs-unittests
-e ./tpDcc/tpDcc-libs-options
-e ./tpDcc/tpDcc-libs-nameit
-e ./tpDcc/tpDcc-libs-curves
-e ./tpDcc/tpDcc-tools-unittests
-e ./tpDcc/tpDcc-tools-nameit
-e ./tpDcc/tpDcc-tools-renamer
-e ./tpDcc/tpDcc-tools-scripteditor
-e ./tpDcc/tpDcc-tools-datalibrary